body {
    margin: 0;
}

.left {
    width: 49.5%;
    height: 100%;
    position: absolute;
}

.right {
    width: 49%;
    height: 100%;
    position: absolute;
    left: 50%;
    border-left: 3px solid black;
}

.top {
    height: 50%;
}
.bottom {
    height: 50%;
}

h2 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
    font-family: ubuntu;
}
